.card {
    margin-bottom: 1vw;
    width: 20vw;
    
    .imgContainer {
        overflow: none;
        
        img {
            height: 100%;
        }
    }
    
    .description {
        color: #929292;
        font-family: "Roboto Mono", monospace;
        font-size: .7vw;
        font-weight: 400;
    }
    
    .title {
        color: white;
        font-family: "Roboto Mono", monospace;
        font-size: .9vw;
        font-weight: 600;
        line-height: .8vw;
    
    }
}

.prova1 {
    background-color: red;
}
